/EmployeeSoap/nbproject/private/
/EmployeeSoap/build/
/EnployeeSoapClient/nbproject/private/
/EnployeeSoapClient/build/
/cv19ClientToSoap/nbproject/private/
/cv19ClientToSoap/build/
/cv19service7/nbproject/private/
/cv19service7/build/
/CalculatorSoapService/nbproject/private/
/CalculatorSoapService/build/
/CalculatorSoapClient/nbproject/private/
/CalculatorSoapClient/build/
/EmployeeSoapService/nbproject/private/
/EmployeeSoapService/build/
/EmployeeSoapClilent/nbproject/private/
/EmployeeSoapClilent/build/
